.App {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  grid-template-rows: 10% 90%;
  grid-template-columns: 15% 85%;
  background-color: #d1bce3;
}

.Sidebar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15.3vh;
  padding-top: 1vh;
  border-left: solid 2px #e07a5f;
  border-right: solid 2px #e07a5f;
  border-top: #3c91e6;
  padding-left: 20px;
  width: 15vw;
  height: 100vh;
  position: fixed;
  background-color: #3c91e6;
}

.AllReviewsTitle {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 50px;
}

.Categories {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Navigation Styling*/
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border: solid 2px #e07a5f;
  padding-left: 0, 5%;
  width: 100vw;
  height: 15vh;
  background-color: #3c91e6;
}

.Navbar ul {
  display: flex;
}
.Navbar ul li {
  position: relative;
  padding: 10px 30px;
}
.Navbar ul li p {
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}
.Navbar ul li p:hover {
  color: white;
}

.categoriesDropdown {
  display: none;
}
.Navbar ul li:hover .categoriesDropdown {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #3c91e6;
  border-radius: 10px;
}
.categoriesDropdown ul {
  display: block;
  margin: 10px;
}
.categoriesDropdown ul li {
  width: 120px;
  padding: 5px;
}

.Title {
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
}

.Popular {
  margin-left: 20vw;
  margin-top: 15vh;
  padding-top: 20px;
  padding-left: 20px;
}

.StartUp {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px #e07a5f solid;
  border-radius: 30px;
  padding: 40px;
  min-width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background-color: #ffc100;
}

.EntryForm {
  align-content: center;
  border: 2px #e07a5f solid;
  padding-left: 50px;
}

h1 {
  display: inline;
}

h3 {
  display: inline;
}

/* .LoggedInUser {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: inherit;
  border: 2px #e07a5f solid;
  border-radius: 30px;
  height: 10vh;
  width: 25vw;
  margin-left: 70%;
  padding-left: 10px;
  background-color: #ffc100;
  font-size: 18px;
} */

.Logout {
  display: inline;
  position: relative;
}

.Community {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-top: 15vh;
  padding-left: 20px;
}

/* .CommunityTitle {
  font-size: 25px;
  margin-left: 40px;
  margin-right: 25px;
} */

.User {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SingleUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #e07a5f solid 3px;
  border-radius: 35px;
  background-color: #ffc100;
  margin-left: 25vw;
  margin-top: 20vh;
  padding-left: 20px;
  padding: 25px;
}

.UserPic {
  border: 2px #e07a5f solid;
  border-radius: 30px;
}

.AllReviews {
  margin-left: 20vw;
  margin-top: 15vh;
  padding-top: 20px;
  padding-left: 20px;
}

.SortOrder {
  margin-left: 75px;
}

.ReviewCard {
  border: 2px solid #e07a5f;
  border-radius: 45px;
  margin: 30px;
  padding: 20px;
  background-color: #ffc100;
  text-align: center;
}

.SingleReview {
  margin-left: 15vw;
  margin-top: 15vh;
  max-width: 70%;
  padding-left: 75px;
  padding-top: 30px;
  text-align: center;
}

.CatReviews {
  margin-left: 20vw;
  margin-top: 15vh;
  padding-top: 20px;
  padding-left: 20px;
}

.CommentSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Comment {
  flex: wrap;
  align-items: center;
  justify-content: center;
  border: solid 2px #e07a5f;
  border-radius: 45px;
  background-color: #ffc100;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70vh;
}

ul {
  list-style-type: none;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: #e07a5f 2px solid;
  background-color: #00d9c0;
}
