.App {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100vw;
  grid-template-rows: 10% 90%;
  grid-template-columns: 15% 85%;
  background-color: rgb(204, 255, 199);
}

a {
  color: black;
  text-decoration: none;
}

.Sidebar {
  margin-top: 15.1vh;
  padding-top: 1vh;
  border: solid 1px darkgreen;
  padding-left: 20px;
  width: 15vw;
  height: 100vh;
  position: fixed;
  background-color: lightseagreen;
}

.AllReviewsTitle {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 50px;
}

.Categories {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Navbar {
  display: inline;
  float: left;
  position: fixed;
  border: solid 1px darkgreen;
  width: 100vw;
  height: 15vh;
  position: fixed;
  background-color: rgb(185, 218, 255);
}

.Title {
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  margin-right: 250px;
}

.Popular {
  margin-left: 15vw;
  margin-top: 15vh;
  padding-top: 10px;
  padding-left: 20px;
}

.StartUp {
  text-align: center;
}

h1 {
  display: inline;
  margin-left: 5vw;
  margin-right: 30vw;
  text-align: center;
}

h3 {
  display: inline;
  margin-left: 10vw;
  margin-right: 0vw;
}

.LoggedInUser {
  display: inline;
  align-self: center;
  position: inherit;
  border: 1px darkgreen solid;
  height: 14.9vh;
  width: 50vw;
  margin-left: 10vw;
  margin-right: 0vw;
  padding-left: 15px;
  background-color: rgb(195, 255, 106);
  font-size: 18px;
}

.Logout {
  display: inline;
  position: relative;
}

.Community {
  margin-left: 15vw;
  margin-top: 10vh;
  padding-left: 20px;
}

.CommunityTitle {
  font-size: 25px;
  margin-left: 40px;
  margin-right: 25px;
}

.User {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SingleUser {
  border: darkgreen solid 3px;
  border-radius: 35px;
  background-color: lightseagreen;
  margin-left: 25vw;
  margin-top: 20vh;
  padding-left: 20px;
  padding: 25px;
}

.UserPic {
  border: 2px seagreen solid;
  border-radius: 30px;
}

.AllReviews {
  margin-left: 15vw;
  margin-top: 15vh;
  padding-top: 20px;
  padding-left: 20px;
}

.SortOrder {
  margin-left: 75px;
}

.ReviewCard {
  border: 2px solid darkgreen;
  border-radius: 45px;
  margin: 30px;
  padding: 20px;
  background-color: lightseagreen;
  text-align: center;
}

.SingleReview {
  margin-left: 15vw;
  margin-top: 15vh;
  padding-left: 75px;
  padding-top: 30px;
  text-align: center;
}

.CatReviews {
  margin-left: 15vw;
  margin-top: 10vh;
  padding-left: 20px;
}

.Comment {
  border: solid 1px black;
  border-radius: 45px;
  background-color: darkgreen;
  padding: 10px;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 60vw;
}

ul {
  list-style-type: none;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: mediumseagreen 2px solid;
  background-color: palegreen;
}
